GOOGLE_CLIENT_ID=
ALLOWED_GOOGLE_DOMAIN=conceivable.life
APP_BASE_URL=
AUTH_ENABLED=true
SESSION_SECRET=change-this-secret
SOURCE_SPREADSHEET_ID=1G6YNnnIrqEH_oIgq95bXmrER2lUjPYtkCeV5zwaXRms
SOURCE_SHEET_NAME=Open Item List
SOURCE_SHEET_HEADER_ROW=
AREAS_SHEET_NAME=CCB Areas
VOTES_SHEET_NAME=CCB Votes
GOOGLE_SHEETS_AUTH_MODE=service-account
GOOGLE_SERVICE_ACCOUNT_KEY_PATH=
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=
LIVE_SYNC_ENABLED=false
LIVE_SYNC_SOURCE_TYPE=google-sheets
LIVE_SYNC_SOURCE_URL=
LIVE_SYNC_INTERVAL_MS=300000
